djangoDemo/app_demo/predict/models/model.ckpt-45000.data-00000-of-00001
djangoDemo/app_demo/predict/models/model.ckpt-45000.index
djangoDemo/app_demo/predict/models/model.ckpt-45000.meta

__pycache__/

# 图片 数据集 模型文件忽略
*.jpg
*.tfrecords
*.data-00000-of-00001
*.index
*.meta